form {
    padding: 10px;
}

button {
    margin-left: 20px;
    width: 100px;
}

.check-box {
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 1px;
    width: 30px;
    height:30px;
    margin-left: 40px;
}

.is-purchased {
    text-decoration-line: line-through;
}

.notes-icon {
    font-size: 30px;
    color: #ccc;
    position: absolute;
    top: 5px;
    right: 10px;
}

.notes-icon:hover {
    cursor: pointer;
}

.card-title {
    margin-left: 20px;
}

.notes-div {
    margin-bottom: 20px;
}

.notes-div p {
    text-align: left;
    margin-left: 80px;
}

.card-body {
    padding: 1px;
}

.card {
    min-height: 75px;
    padding-top: 20px;
}

p.card-text {
    min-height: 25px;
}
