form {
    padding: 10px;
}

button {
    margin-left: 20px;
}

.check-box {
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 1px;
    width: 30px;
    height:30px;
}

.is-purchased {
    text-decoration-line: line-through;
}