<div class="card">
    <div *ngIf="editView; then editDiv else detailsDiv"></div>

    <ng-template #editDiv>
        <form #editItemForm="ngForm" (ngSubmit)="updateItem(editItemForm.value)">
            <div class="form-group">
              <input type="text" #title="ngModel" class="form-control" id="grocery-item" required name="title" [ngModel]="item.title">
            </div>
            <div class="form-group">
              <textarea #notes="ngModel" class="form-control" id="exampleFormControlTextarea1" rows="3" name="notes" [ngModel]="item.notes"></textarea>
            </div>
        
            <button [disabled]="!editItemForm.valid" type="submit" class="btn btn-secondary">Save</button>
            <button (click)="openEdit()" type="button" class="btn btn-outline-secondary">Cancel</button>
          </form>
    </ng-template>

    <ng-template #detailsDiv>
        <div class="card-body">
            <div class="row">
                <div class="check-box" (click)="markPurchased()">
                    <div *ngIf="item.isPurchased">
                        <i class="fa fa-check"></i>
                    </div>
                </div>
  
                <h5 class="card-title" [class.is-purchased]="item.isPurchased">{{item.title}}</h5>
  
                <span class="icon notes-icon" (click)="seeDetails()">
                    <i class="fa fa-paperclip"></i>
                </span>
            </div>
  
            <div class="notes-div" [@openDiv]="openDetails ? 'open' : 'closed'">
              <p class="card-text">{{item.notes}}</p>
              <div class="row">
                <span class="icon icon-edit" (click)="openEdit()">
                  <i class="fa fa-pencil"></i>
                </span>
                <span class="icon icon-edit" (click)="confirmDelete(content)">
                  <i class="fa fa-trash"></i>
                </span>
              </div>
            </div>
        </div>
    </ng-template>

</div>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Confirm delete</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Are you sure you want to delete this item?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="deleteItem(); c('Close click')">Delete</button>
    <button type="button" class="btn btn-outline-secondary" (click)="c('Close click');">Cancel</button>
  </div>
</ng-template>


